<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Arsenal</display-name>

<servlet>
<servlet-name>abc</servlet-name>
<servlet-class>First</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc</servlet-name>
<url-pattern>/first</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>abc1</servlet-name>
<servlet-class>Ticket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc1</servlet-name>
<url-pattern>/Ticket</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>abc2</servlet-name>
<servlet-class>TickShip</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc2</servlet-name>
<url-pattern>/tickship</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>abc3</servlet-name>
<servlet-class>AdminMain</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc3</servlet-name>
<url-pattern>/adminmain</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc4</servlet-name>
<servlet-class>FinalTicket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc4</servlet-name>
<url-pattern>/finalticket</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc5</servlet-name>
<servlet-class>ShopShip</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc5</servlet-name>
<url-pattern>/shopship</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc6</servlet-name>
<servlet-class>FinalShop</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc6</servlet-name>
<url-pattern>/finalshop</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc7</servlet-name>
<servlet-class>ChoiceClub</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc7</servlet-name>
<url-pattern>/choiceclub</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc8</servlet-name>
<servlet-class>MakeTeam</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc8</servlet-name>
<url-pattern>/maketeam</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc9</servlet-name>
<servlet-class>TheEnd</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc9</servlet-name>
<url-pattern>/theend</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc10</servlet-name>
<servlet-class>AddPlayer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc10</servlet-name>
<url-pattern>/addplayer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>abc11</servlet-name>
<servlet-class>AddMatch</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>abc11</servlet-name>
<url-pattern>/addmatch</url-pattern>
</servlet-mapping>
</web-app>